.dashboard-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #add8e6; /* Light blue background */
    padding: 20px;
  }
  
  .dashboard-card {
    background-color: white; /* White card background */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px; /* Adjust the width as needed */
  }
  
  .exit-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #c91313; /* Dark blue background */
    color: white; /* White text */
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .exit-button:hover {
    background-color: #bc1c1c; /* Darker blue on hover */
  }
  
  .tam-balance {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .dashboard-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .dashboard-button {
    padding: 15px 30px;
    background-color: #5673ac;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dashboard-button:hover {
    background-color: #000000;
  }